<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/7.14.0/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
<script src="https://www.gstatic.com/firebasejs/7.14.0/firebase-analytics.js"></script>

<script>
  // Your web app's Firebase configuration
  var firebaseConfig = {
    apiKey: "AIzaSyAllxaFynEe17fD0NuZ85pl_2wMDIUANtM",
    authDomain: "crud-firebase-3c970.firebaseapp.com",
    databaseURL: "https://crud-firebase-3c970.firebaseio.com",
    projectId: "crud-firebase-3c970",
    storageBucket: "crud-firebase-3c970.appspot.com",
    messagingSenderId: "722938547008",
    appId: "1:722938547008:web:fe6ee1ce7c04bc0e9988a5",
    measurementId: "G-T8EV01VQYT"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
  firebase.analytics();
</script>
<div class="row">
  <div class="col-md-2">
    <nav class="nav flex-column">
      <a class="nav-link" href=”#”>All Students</a>
      <a class="nav-link" routerLinkActive="active" routerLink="add-student">Add Student</a>
      <a class="nav-link" routerLink="/">Link</a>
    </nav>
  </div>
  <div class="col-md-10">
    <router-outlet></router-outlet>
  </div>
</div>